<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="projects">Projects</a>
        <p> | </p>
        <a href="contact"> Contact</a>
        <p> | </p>
        <a href="/">Home</a>

    </div>
    <p>Projects Page</p>
    <div>
        <div>
            <img src="~/img/beer.jpg" alt=" A mug o Beer">
            <p>This was my project about a beer. How to pour a beer, dirink a beer, have another beer. and one more beer. beer ,beer beer. </p>
        </div>
        <div>
            <img src="~/img/pineapple.jpg" alt=" A pineapples o tacos">
            <p>Pineapples are welcoing fruit and are great gifts </p>
        </div>
        <div>
            <img src="~/img/taco.jpg" alt=" A tacos o pineapples">
            <p>This was my project about a beer. How to pour a beer, dirink a beer, have another beer. and one more beer. beer ,beer beer. </p>
        </div>
    </div>
</body>
</html>